$white-color: #fffffa; // background, text in dark section
$light-grey-color: #a1a194; // text in table rows, icon awesome
$cumstom-grey-color: #5b605f; // sidebar, bottom nav
$dark-grey-color: #4a4a49; // bg header, text in cols
$light-orange-color: #e58a20; // logo second color
$custom-orange-color: #ff6600; // buttons, links hover
$dark-orange-color: #bd4932; // trash icon

$blue-color: #3498db; // message alert info
$yellow-color: #ffb03b; // message alert warning
$green-color: #468966; // message alert success
