header {
  h1 {
    display: flex;
    flex-direction: row;
    font-family: Charmonman;
    #first {
      color: $white-color;
      font-weight: 100;
    }
    #second {
      color: $light-orange-color;
      font-weight: 700;
    }

  }
}
